%div{class: "contain-to-grid sticky", data: {options: "sticky_on: large"}}
  %nav{class: "top-bar", data: {topbar: true}}
    %section{class: "top-bar-section"}
      %ul{class: "left"}
        %li{class: "name"}
          %h1
            %a{href: "/"} watchwithme
        %li
          %a{href: "/about"} About
        %li
          %a{href: "/help"} Help