= partial(:_navbar)
.row
  .large-8.large-offset-2.columns
    .center
      %h1 About
    %p WatchWithMe was inspired by a shared video lesson at the <a href="http://flatironschool-bk.herokuapp.com">Flatiron School</a>.
    %p It's a simple way for friends, long-distance couples, or classes of students to watch videos in unison -- where everyone's video is synchronized to the same time.
    %p WWM was created by <a href="http://nikki-thean.herokuapp.com/">Nikki Thean</a>, a student at the Flatiron School in New York City.