= partial(:_navbar)
.container
  .jumbotron
    %h1 About
    %p WatchWithMe was inspired by a lesson at the <a href="http://flatironschool-bk.herokuapp.com">Flatiron School</a>.
    %p Created by <a href="http://nikki-thean.herokuapp.com/">Nikki Thean</a>.