= partial(:_navbar)
.row
  .large-8.large-offset-2.columns
    .center
      %h1 Help
    %p WatchWithMe allows you to watch videos in sync on separate computers.
    %h4 Step One:
    %p
      To start a room, paste any valid YouTube url into the box on the homepage.
      %br
      %span{class: "smalltext"} This makes you the controller of the room. That means you control when the video starts, stops, and pauses -- and you can seek to any position in the video you want.
    %h4 Step Two:
    %p
      Share the link to your room.
      %br
      %span{class: "smalltext"} This invites people to join you and watch the video in sync. No matter what you do with your video, their players will sync up with yours -- perfect for long-distance relationships, remote viewing parties, or just fun with friends.
    %h4 Step Three:
    %p
      Enter your chat handle to start talking.
      %br
      %span{class: "smalltext"} The chat box on the right-hand side of the page allows you to discuss the video with anyone else in the room, without having to interrupt your video by pulling up your preferred chat client.