= partial(:_navbar)
.container
  .jumbotron
    %h1 Watch With Me
    %form{:action=>"/video/#{@link}", :method=>"POST"}
      %input{:type=>"text", :placeholder=>"Paste YouTube url"}
      %button{:class=>"btn btn-primary btn-lg", :type=>"submit", :name=>"submit"} Start a room