body {
  padding-top: 70px;
  background-color: rgb(100,100,100);
}

.inactive, .hidden {
  display: none;
}

.active {
  display: block;
}

.center {
  padding: 20px 0;
  text-align: center;
}

.url {
  width: 300px;
}

.jumbotron {
  text-align: center;
}

.chatbox {
  color: white;
}

#chat-text {
  height: 300px;
  overflow: scroll;
}

span.small {
  font-size: 100%;
}

span.left {
  text-align: left;
}
/*
.player {
  height: 100%;
  width: 100%;
}

#myytplayer {
  z-index: 0;
}

.transparent {
  width: 100%;
  height: 100%;
  z-index: 1;
}*/